<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="dropdown">
            <select id="list">
                <option class="dropdown-item" value="axis" href="#">Axis</option>
                <option class="dropdown-item" value="academic" href="#">Indosat</option>
                <option class="dropdown-item" value="lifestyle" href="#">Smartfren</option>
                <option class="dropdown-item" value="entertainment" href="#">Telkomsel</option>
                <option class="dropdown-item" value="lifestyle" href="#">3</option>
                <option class="dropdown-item" value="entertainment" href="#">XL</option>
            </select> 
            <button name="submit" type="submit" class="button yellow" id="choosebox">Try Your Luck</button>
            <button name="submit" type="submit" class="button yellow" id="checkbox">Check What's Insides!</button>
        </div>
    </body>
</html>